{% extends "layaout.html" %}

{% block body %}
  
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="fullName" class="form-label">FullName</label>
      <input type="text" class="form-control" id="FullName">
    </div>
    
    <button onclick="SaveUser()" class="btn btn-primary">Submit</button>
  


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">FullName</th>
      </tr>
    </thead>
    <tbody id="tcuerpo">
      
    </tbody>
  </table>

{% endblock %}